header {
    text-align: end;
}


.login {
    text-align: end;
    text-decoration: none;
    color: black;
}


.register {
    text-align: end;
    text-decoration: none;
    color: black;
}


body {
    background-image: url(../images/bg-body.png);
    background-repeat:repeat;
    padding-right: 10%;
    padding-left: 10%;
}


.logo {
    text-align: center;
}


.logoBorde {
    border-radius: 100px;
}


.listafila{ 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(59, 59, 59);
    padding: 10px 50px;
}


main{
    display: flexbox;
    padding-top: 30px;
    padding-bottom: 30px;
}


.banner{
    display: flex;
    width: 100%;
}   

.cardSec{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}


.card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 30%;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}


.imagenes{
    display: flex;
    flex-direction:row ;
    flex-wrap: wrap;
    width: 100%;
}


.verMas{
    background-color: #444;
    text-decoration: none;
    display: flex;
    padding: 5px 20px;
}


.footer{
    border-radius: 20px 20px 0px 0px;
}


.colordefondo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
    
    
.footer2{
    padding: 30px;
    background-color: red;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    list-style: none
}
    

.textofondo{
    padding: 10px;
    color:  white;
    border-right: 1px solid white;
    text-decoration: none;
    list-style: none;
    text-align: center;
}